* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
}
img {
    height:144px;
    width: 100%;
    position: relative;
}
.firstdiv {
    position: absolute;
top: 5%;
left: 10%;
}
.number {
    display: inline-block;
    margin-right: 20px;
    background-color: none;
  border: 2px solid white;
  color: white;
  border-radius: 40px;
  padding: 10px; 
  padding-right: 15px; 
  padding-left: 15px;
}
.number:hover {
    background-color: lightblue;
    color: blue;
    font-family: 'montserrat';
}
.personal {
    font-family: 'montserrat';
    font-size: 30px;
    padding-left: 20px;
}
fieldset {
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0px 20px;
}
.please {
    padding-top: 20px;
    font-family: 'montserrat';
    color: grey;
}
input {
    display: block;
    padding-top: 15px;
    border: 1px solid grey;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
label {
    padding-left: 10px;
}